.container {
    text-align: center;
}
.container .box {
    float: left;
    width: 33.3%;
}
.container p {
    color: gray;
}
.container i {
    font-size: 30px;
}
.container .clearFix {
    clear: both;
}